<%- include("partials/header") -%>

<div class="container about-us">
  <h1 class="my-4">About Us</h1>
  
  <div class="image-gallery">
    <img src="https://img.freepik.com/premium-photo/letter-s-logo-design-s-monogram-design-s-logo_135595-2895.jpg?w=740" alt="File removed">
    <img src="https://img.freepik.com/premium-photo/letter-o-logo-design-o-logo-design-company-logo-o-o-monogram-design_135595-2888.jpg?w=740" alt="File removed">
    <img src="https://w0.peakpx.com/wallpaper/363/816/HD-wallpaper-p-fiery-english-alphabet-letter-black-background-p-letter.jpg" alt="File removed">
    <img src="https://img.freepik.com/premium-photo/fire-alphabet-letter-p-isolated-black-background_564276-9256.jpg?w=740" alt="File removed">
    <img src="https://img.freepik.com/premium-photo/fire-alphabet-letter-i-isolated-black-background_564276-9241.jpg?w=740" alt="File removed">
  </div>

  <p><%= startingContent %></p>
</div>

<%- include("partials/footer") -%>
