<%- include("partials/header") -%>
<div class="container">
  <h1 class="my-4">Contact Us</h1>
  <h5 class="my-4">You can reach me through the following social media by clicking on the links provided. You can give me feedback there also.</h5>
  <div class="image-gallery">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5e/WhatsApp_icon.png/598px-WhatsApp_icon.png" alt="File removed">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/900px-Instagram_icon.png?20200512141346" alt="File removed">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6Bw9xQSE1KqPyEDaP6YrHkuIerzVobZPfQg&s" alt="File removed">
    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="File removed">
  </div>
  <div class="links">
    <a href="https://wa.me/918292049546" target="_blank">WhatsApp</a>
    <a href="https://www.instagram.com/ank_soppi_768/?hl=en" target="_blank">Instagram</a>
    <a href="https://www.linkedin.com/in/ankit-raj-bb938b242/" target="_blank">LinkedIn</a>
    <a href="https://github.com/anksoppi546" target="_blank">GitHub</a>
  </div>
  <p><%= startingContent %></p>
</div>
<%- include("partials/footer") -%>
